@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    font-size: 20px;
    --color-title-card: #353C57;
}

body{
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
}

.container{
    width: 80%;
    margin: 0 auto;
}
.header-top{
    background-color: #202846;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    box-sizing: border-box;
}

.logo{
    display: flex;
    align-items: center;
}

.header-top__nav{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    width: 70%;
    text-align: center;
}

.header-top__nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.title{
    background-color: #C6C6DC;
}

.title h2{
    margin: 0;
    font-size: 2.4rem;
    font-style: italic;
    padding: 1rem 0;
    font-weight: 400;
}

.list{
    background-color: #E8E8E8;
    padding: .5rem;
    margin: 2rem 0;
    font-size: 1.4rem;
    text-align: center;
    position: relative;
}



.list::after{
    content: url("../img/arrow.svg");
    text-align: right;
    position:absolute;
    right: 1rem;
    top: 20%;
}

.card{
    background-color: #BDBDC6;
    display: flex;
    justify-content: space-evenly;
    padding: 1.5rem 0;
    position: relative;
    margin-bottom: 1.5rem;
    transition: all 1s;
}

.card *{
    transition: all 1s;
}

.card > .card-img{
    width: 30%;
}

.card-img > img{
    max-width: 100%;
    min-height: 100%;
}


.card > .card-description{
    width: 50%;
}

.card .card-description__title{
    font-weight: 700;
    font-style: italic;
    font-size: 1.8rem;
    border-bottom: 3px solid white;
    color: var(--color-title-card);
}

.card .card-description__content{
    background-color:#D7D7DD;
    padding: 1.2rem;
    box-sizing: border-box;
    text-align: center;
    margin-top: .3rem;
}

.card .star, .card .btn{
    position: absolute;
}


.card .btn{
    display: inline-block;
    bottom: 10px;
    right: -55px;
    background-color: #202846;
    color: white;
    width: 200px;
    padding: 0.5rem 0;
    text-align: center;
    border-radius: 50px;
    text-decoration: none;
}
.card .star{
    right: 10px;
    top: 10px;
}


/*hover start*/

.card:hover{
    background-color: #AEABE2;
}

.card:hover .star path{
    fill: yellow;
}

.card:hover .btn{
    background-color: #EF075B;
}